<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/index.css}" />
    <title>Home</title>
</head>


<body>
    <h1>Code Collab</h1>
    <a href="/joinSession" class="btn btn-primary btn-block btn-large">Join Session</a>
    <br>
    <a href="/create" class="btn btn-primary btn-block btn-large">Create Session</a>
</body>

</html>