@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

.CodeMirror {
	float: right;
	width: 50%;
}


#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 45%;
	/* width: 45%;
	margin-left: 845px;
	height: 90%;
	margin-top: 68px; */
}

#text_box {

	background: none;
	border: none;
	color: #000;
	padding: 20px;
	resize: none;
	float: right;

	width: 369px;
	height: 548px;
	/* add a glow */
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

#messageForm {
	float: right;
	margin-top: 560px;
	margin-right: -262px;
}


/* HEADER */
.header {
	position: inherit;
	left: 0;
	right: 0;
	height: 66px;

	line-height: 66px;
	color: #fff;

	background-color: #d83d3d;
}

.header>h1 {
	font-family: 'Odibee Sans', cursive;
	padding: 7px;
	text-align: center;
	margin-left: 700px;
}

.header__logo {
	font-weight: 700;
	padding: 0 25px;
	float: left;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
}


.btn {
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font: inherit;
	line-height: normal;
	cursor: pointer;
	-moz-user-select: text;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 16px 36px 22px;
	background-color: #fff;
	color: #666;
	border: 2px solid #666;
	border-radius: 6px;
	margin-bottom: 16px;
	transition: all 0.5s ease;
}

.btn:-moz-focus-inner {
	padding: 0;
	border: 0;
}

.btn--stripe {
	overflow: hidden;
	position: relative;
}

a {
	text-decoration: none;
}

.btn--stripe:after {
	content: '';
	display: block;
	height: 7px;
	width: 100%;
	background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-top: 1px solid #666;
	position: absolute;
	left: 0;
	bottom: 0;
	background-size: 7px 7px;
}

.btn--stripe:hover {
	background-color: #666;
	color: #fff;
	border-color: #000;
}

.btn--stripe:hover:after {
	background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
	border-top: 1px solid #000;
	animation: stripe-slide 12s infinite linear forwards;
}